<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
    <footer th:fragment="_footer" class="page-footer font-small pt-4" style="background-color: #343a40; padding-top: 8px!important; padding-bottom: 0px!important; margin-top: 2%;">
        <div class="footer-copyright text-center py-3">
            <p style="color:#FFF;">©2021 Copyright
                <a href="https://github.com/GianellaVezzoni" target="_blank" style="color:#FFF;"> Gianella Vezzoni</a>
            </p>
        </div>
    </footer>
</body>
</html>