<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
  <nav th:fragment="nav_bar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" th:href="@{/}">Videojuegos</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/inicio}">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/crud}">CRUD</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/busqueda}">
          <input class="form-control me-2" type="search" placeholder="¿Qué estás buscando?" aria-label="Search" name="query" style="margin-right: 5px;">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
</body>
</html>